<!DOCTYPE html>
<!-- Menu for Multris game -->
<html>
  
  <head>
    <title>Multris</title>
    <link href="menu_style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  </head>
  
  <body>
    
    <main>
      <header>
        <h1>
          Multris
        </h1>
        <p>
          multris.glitch.me
        </p>
        <input name="name" id="name-input" type="text" maxlength="16" placeholder="name"> 
        <button id="play-button">
          PLAY
        </button>
      </header>
      <score-board>
        <h1>
          High Scores
        </h1>
      </score-board>
    </main>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/scores.js"></script>
    <script src="/menu_script.js"></script>
    
  </body>
  
</html>