* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Press Start 2P", Monospace, sans-serif;
}

#html, body {
    background-color: #000;
    width: 100%;
    height: 100%;
}

h1 {
  width: 100%;
  margin: auto;
  padding-top: 30px;
  text-align: center;
  color: #fff;
}

canvas {
    display: block;
    margin: 0 auto;
    height: 80%;
    padding: 30px;
}